/* Tablie */
@media (max-width: 1220px)  {
    .wrapper {
        margin-right: 70px;
        margin-left: 70px;
    }
    
    
    /* Header+Menu */
    
    #nav_pc {
        display: none;
    }

    #sidebar {
        display: none;
    }
    .header_mobile {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 12;
        background-color: #faeddf; 
        transform: translateY(-77px);
    }

    .menu_mobile_btn {
        float: right;
        font-size: 25px;
        line-height: 77px;
        margin-right: 1em;
        color: #7a5932;
        cursor: pointer;
    }

    .header_mobile .nav_mobile_main {
        float: left;
        display: block;
        transform: translateX(10%);
    }

    .header_mobile .nav_mobile_main a {
        text-decoration: none;
        line-height: 77px;
        letter-spacing: 5px;
        font-weight: 700;
        text-decoration: none;
        color: #7a5932;
        font-size: 18px;
    }

    /* Menu */
    .nav_mobile {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        display: block;
        background-color: #faeddf;
        max-width: 100%;
        width: 320px;
        list-style: none;
        z-index: 15;
        transform: translateX(100%);
        transition: all 0.2s linear;
        opacity: 0;
    }

    .close-menu {
        float: right;
        font-size: 2.4em;
        font-weight: 700;
        color: #7a5932;
        display: block;
        padding: 16px;
        margin-right: 10px;
    }

    .close-menu:hover {
        cursor: pointer;
    }

    .nav-contact {
        list-style: none;
        display: flex;
        padding: 16px;
        margin-top: 12px;
        margin-left: 16px;
    }

    .nav-contact a {
        color: #7a5932;
        text-decoration: none;
        padding: 16px;
    }

    .nav-contact a:hover {
        color: #198597;
    }

    .nav-list {
        margin-top: 32px;
        flex-direction: column;
        margin-left: 32px;
        list-style: none;
    }

    .nav-list li a {
        color: #7a5932;
        font-size: 18px;
        text-decoration: none;
        padding: 12px;
        display: block;
    }

    .nav-list li:hover a {
        color: #198597;
    }

    #menu-check:checked ~ .nav_mobile {
        transform: translateX(0);
        opacity: 1;
    }

    /* END HEADER */

    #content {
        margin: 0;
        margin-top: 77px;
    }

    .square {
        position: absolute;
        left: 30px;
        bottom: 30px;
        animation: rotate 3s linear infinite;
        width: 500px ;
        z-index: 3;
    }
    /* Footer */
    #footer {
        margin-top: 60px;
    }

    #footer .copyright-icons i {
        font-size: 30px;
    }

    #footer .copyright p {
        font-size: 18px;
        margin-bottom: 12px;
        line-height: 32px;
    }
}

/* Tablet */
@media (max-width: 1220px) and (min-width: 768px) {
    #content .introduce .introduce-text {
        flex: 2;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
    
    #content .introduce .introduce-text .heading-intro h1 {
        font-size: 70px;
        font-weight: lighter;
        letter-spacing: -3px;
        line-height: 75px;
    }

    #content .introduce .introduce-text > .wrapper { 
        margin: 100px 40px 0px;
    }
}



/* Mobile */
@media (max-width: 767px) {
    .wrapper {
        margin: 16px;
    }

    .topic {
        width: 100%;
        padding: 16px;
    }

    .text-topic {
        font-size: 44px !important;
    }
    /* introduce */
    .introduce {
        flex-direction: column;
    }
    
    #content .introduce .introduce-img img {
        width:100%;
        height:400px;
        object-fit: cover;
        object-position: 50% 30%;
        padding: 30px 15px 0;
    }

    #content .introduce .introduce-text > .wrapper {
        margin: 16px;
    }

    #content .introduce .introduce-text .heading-intro h1 {
        font-size: 55px;
        letter-spacing: -3px;
        line-height: 60px;
    }

    .zigzag {
        bottom: 0;
        display:none;
    }
    .zigzag img {
        width: 100px;
    }

    /* About */
    #about {
        flex-direction: column;
    }
    .row {
        flex-direction: column;
    }
    .col {
        margin: 32px !important;
    }

    /* Portfolio */
    #portfolio {
        flex-direction: column;
    }
    
    .triangle img {
        width: 80px;
    }

    .portfolio-text {
        padding: 10px 20px;
    }

    .portfolio-text .portfolio-text-heading {
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
    }

    /* Cover-letter */
    #cover-letter {
        flex-direction: column;
    }

    #cover-letter > .topic {
        padding: 0px !important;
    }

    #cover-letter .cover-letter-topic h2 {
        line-height: 42px;
    }

    .zigzag2 img {
        width: 80px;
    }

    #cover-letter .cover-letter-detail img {
        margin-bottom: 32px;
    }

    .square {
        width: 200px;
    }

    /* Skills */
    #skills {
        flex-direction: column;
    }
    /* Education */
    #education {
        flex-direction: column;
    }

    #education .education-detail .wrapper {
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 64px;
    }

    .education-detail .wrapper .timeline-holder .timeline-event .timeline-event-content {
        margin: 0 50px;
    }
    /* Facts */
    #facts {
        flex-direction: column;
    }
    
    .zigzag3 {
        display: none;
    }
    .zigzag3 img {
        width: 100px;
    }
    /* Experience */
    #experience {
        flex-direction: column;
    }

    .zigzag4 img {
        width: 100px;
    }

    /* Contact */
    #contact {
        flex-direction: column;
    }

    .square2 {
        left: 50%;
        top: 100%;
        
    }

    .square2 img {
        width: 100px;
        position: absolute;
    }

}
